/* Footer Styling */
.footer {
    width: 100vw; /* Span the entire viewport width */
    background-color: aquamarine; /* Dark background color */
    color: #ffffff; /* Ensure text is white */
    padding: 20px 0; /* Padding for spacing inside the footer */
    text-align: center; /* Center the text inside */
    position: relative;
    left: 50%; /* Adjust the footer positioning */
    transform: translateX(-50%); /* Center the footer properly */
  }

  .text{
    font-weight: 500;
  }
  
  .footer-left {
    max-width: 100%; /* Ensure content spans the entire width */
    margin: 0 auto; /* Center the content */
  }
  
  .footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .git-link {
    color: black; /* Link color */
    text-decoration: none;
    font-size: 16px;
  }
  
  .git-link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  